<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Form</title>
    <link rel="stylesheet" href="../public/form.css">
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <p>Coloque o link completo das redes sociais exemplo: <strong>  "https://www.instagram.com/username"</strong></p>
        <h1>Upload Form</h1>
        <hr>
        <h3>Validação</h3>
        <p>Coloque seu Ra, e crie uma senha, assim quando quiser editar ou apagar vai usa esses dados</p>
        <label for="idaluno">RA:</label>
        <input type="number" id="ra" name="ra" required><br>

        <label for="idaluno">Password:</label>
        <input type="text" id="password" name="password" required><br>
        <hr>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="apelido">Apelido:</label>
        <input type="text" id="apelido" name="apelido" ><br>

        <label for="linkedin">LinkedIn:</label>
        <input type="text" id="linkedin" name="linkedin" placeholder="https://www.linkedin.com/in/username"><br>

        <label for="github">GitHub:</label>
        <input type="text" id="github" placeholder="https://github.com/username" name="github" ><br>

        <label for="instagram">Instagram:</label>
        <input type="text" id="instagram" placeholder="https://www.instagram.com/username" name="instagram" ><br>

        <label for="photo">Foto de Perfil:</label>
        <input type="file" id="photo" name="photo" required><br><br>

        <input type="submit" value="Upload">
    </form>
    <!--<a href="/view_user">View User Data</a> -->
</body>
</html>
